
main {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    background-color: rgb(179, 206, 170);
}

#left-panel {
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    width: 30%;
    height: 900px;/*temp so I can see panel*/
    background-image: url('../img/hound.jpg');
    opacity: 1;
    background-size: 600px;
    background-repeat: no-repeat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
#search-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin: 10% 0% 10% 20%;
    opacity: 1;
}

#search-form > label {
    margin: 1rem 0rem .25rem 0rem;
}

#search-form > input {
    height: 1rem;
    width: 10rem;
}

#search-form > select {
    height: 1.5rem;
    width: 6rem;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    height: 2rem;
    width: 8rem;
    margin: 2rem 0rem 0rem 0rem;
}

#right-panel {
    box-sizing: border-box;
    width: 70%;
    height: 900px; /* temp so I can see panel */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-height: 900px;/*The important part*/
    overflow-y: auto;/*Also...*/
    overflow-x: hidden;/*And the end of the important part*/
}

tr {
    margin-top: 0rem;
    padding: 0;
    list-style-type: none;
}

.row-striped:nth-of-type(odd){
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100px;
    background-color: #efefef;
}

.row-striped:nth-of-type(even){
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

h4 {
    margin: 0rem 2rem 0rem 4rem;
}

.thumb-cell {
    width: 150px;
}

.name-cell {
    width: 15rem;
}

.data-cell {
    width: 60rem; /* this is a hack and the table needs to be fixed */
}

.thumb {
    width: 100px;
    height: 100px;
    margin: 0rem 0rem 0rem 2rem;
    border-radius: 6px;
}

.pet-data {
    height: 100px;
    width: 15rem;
    display: flex;
    flex-direction: column;
}

.pet-data > p {
    margin: 0;
    padding: 0;
}